.footer {
    color: white ;
    display: flex;
    justify-content: space-around;

    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 23rem;
    max-width: 95%;
}

 a:hover, a:active,
 a:visited, a:link{
    color: white;
    text-decoration: none;
}

h3 {
    font-size: 26px;
}